.div-radio-sai {
    width: 23%;
    margin-right: 12px;
    display: inline-block;
    position: relative;
}

.div-radio-sai-personalidade {
    width: 50%;
    margin-right: 12px;
    display: inline-block;
    position: relative;
}

.label-radio-sai{
    font-family: "Poppins", Roboto;
    color: black;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.input-radio-sai {
    margin: 5px 5px 0 0;
    accent-color: red;
}

.btnsai {
    background-color: red;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Poppins", Roboto;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 10px 10px 10px 10px;
  }

  hr {
    margin: 15px 0 15px 0!important;
	border: 0;
	border-top: 1px solid #ffffff;
}